<div class="container">
    <div class="row bl-c">

        <form class="col-8 bl-c">
            <input type="text" placeholder="Filter by editor" />
            <div class="b-align btn btn-primary">Search</div>
        </form>

        <div class="col-2 bl-c">
            <div class="b-align float-start fa-solid fa-user fa-2x"></div>
        </div>

        <div class="col-1 bl-c">
            <i class="float-start fa-solid fa-book fa-2x"></i>
        </div>
        <div class="bl-c col-1">
            <div class="b-align btn btn-outline-success">
                {{nb_books}}
            </div>
        </div>

    </div>
</div>